.grid-container {
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: repeat(5, auto);
  width: 90%;
}

.grid-item{
  padding: 0px 10px 0px 10px;
  border: 1px solid #0000003d;
  vertical-align: middle;
  background-image: linear-gradient(#c5c5c52f, #c5c5c5c9);
}

.title{
  /* background-color: #ffd000; */
  background-image: linear-gradient(#ffd000a2, #ffd000);
  line-height: 3vh;
}

.red {
  color: #6d058d;
}

.legenda {
  border: 1px solid;
  margin-top: 2vh;
  padding: 1vw;
}

.usuarioList {
  /* background-color: white; */
  margin-top: 2vh;
}

.barra-popup {
  width: 97%;
  height: 3vh;
  background-image: linear-gradient(#005ce6d3, #005ce6);
  display: block;
  padding: 1vh;
  color: #fff;
  margin-bottom: 2vh;
}

.barra-popup:hover{
  background-image: linear-gradient(#005ce6b2, #005ce6c7);
}
.barra-popup:active{
  background-image: linear-gradient(#0043a7, #013e99);
}

.body {
  padding: 1vw;
}

.text {
  padding-top: 2vh;
}